@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Does Not Follow Back", "DoesNotFollowBack")</li>
        <li>@Html.ActionLink("API Rate Limits", "RateLimits")</li>
    </ul> 
</div>